{{extend "layout.html"}}
{{for user in users:}}
    <h3>{{=user.first_name}}'s Blog </h3>
  	<div>
  		<img width="200px" src="{{=URL('download', args=user.photo_id.file)}}" />
 		</div>
  	<h4>{{=user.first_name}} {{=user.last_name}}</h4>
  	<h5>{{=user.email}}</h5>
  	{{for post in user.post:}}
	  	<h4 style="text-align: center">{{=post.title}}</h4>
	  	<p>{{=post.body}}</p>
        <span>Tags:</span>
           {{for tag in post.tags:}}
            <span>{{=tag}},</span>
                {{pass}}
        {{for comment in post.comments:}}
        <p><h5>{{=comment.author}}:</h5> {{=comment.body}}</p>
            {{pass}}
	  	{{pass}}
{{pass}}
